NODE_ENV=test
LOG_LEVEL=error
NETWORK_CHAIN_ID=1
BLOCKS_QUEUE_LOADER_PRELOADER_BASE_COUNT=1
NETWORK_MAX_BLOCK_WEIGHT=1
NETWORK_TARGET_BLOCK_TIME_MS=500
TRACES_ENABLED=false
NETWORK_SUPPORTS_TRACES=false
NETWORK_VERIFY_TRIE=false
MEMPOOL_MAX_PENDING_TX_COUNT=1000
MEMPOOL_PENDING_TX_TTL_MS=600000
NETWORK_MIN_GAS_PRICE=0
PROVIDER_NETWORK_RPC_URLS=
PROVIDER_MEMPOOL_RPC_URLS=
