NODE_ENV=development
NETWORK_TYPE=testnet
NETWORK_PROVIDER_TYPE=rpc
START_BLOCK_HEIGHT=0
MAX_BLOCK_HEIGHT=1000000
TRANSPORT_OUTBOX_ENABLE=1
TRANSPORT_OUTBOX_KIND=ipc-child
PROVIDER_NETWORK_RPC_URLS=          #http://login:password@host.docker.internal:18332