CHAINSTACK_RPC_TARGET=https://ethereum-mainnet.core.chainstack.com
CHAINSTACK_RPC_USERNAME=YOUR_USER_NAME
CHAINSTACK_RPC_PASSWORD=YOUR_PASSWORD
VITE_WATCH_ADDRESSES=0xd8da6bf26964af9d7eed9e03e53415d37aa96045
NETWORK_SUPPORTS_TRACES=false
NETWORK_VERIFY_TRIE=false
TRACES_ENABLED=false
