NODE_ENV=test
LOG_LEVEL=error
NETWORK_CHAIN_ID=1
PROVIDER_NETWORK_RPC_URLS=http://mock-rpc
BLOCKS_QUEUE_LOADER_PRELOADER_BASE_COUNT=1
NETWORK_MAX_BLOCK_WEIGHT=1
NETWORK_TARGET_BLOCK_TIME_MS=500
TRACES_ENABLED=false
MAX_BLOCK_HEIGHT=2
START_BLOCK_HEIGHT=0
NETWORK_SUPPORTS_TRACES=false
NETWORK_VERIFY_TRIE=false
