NODE_ENV=test
LOG_LEVEL=error
NETWORK_CHAIN_ID=1
PROVIDER_NETWORK_RPC_URLS=
BLOCKS_QUEUE_LOADER_PRELOADER_BASE_COUNT=1
NETWORK_MAX_BLOCK_WEIGHT=1
NETWORK_TARGET_BLOCK_TIME_MS=500
TRACES_ENABLED=false
NETWORK_SUPPORTS_TRACES=false
MAX_BLOCK_HEIGHT=3
START_BLOCK_HEIGHT=0
TRANSPORT_HTTP_HOST=127.0.0.1
TRANSPORT_HTTP_PORT=3100
TRANSPORT_OUTBOX_ENABLE=1
TRANSPORT_OUTBOX_KIND=http
